<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


       <bean id="test" class="net.xiayule.spring.Test">
              
       </bean>
       
       <bean id="classPathResource" class="net.xiayule.spring.core.io.ClassPathResource">
              <constructor-arg value="testConstructorValue"/>
       </bean>

</beans>